{% extends "main_template.html" %}
<!-- Main index page -->
{% block title %}Squad Performance Metrics{% endblock %}
<!-- Jumbotron -->
{% block jumbotron %}
    <div class="container">
        <h1 class="display-3">Squad Performance Metrics</h1>
        <p>This website was created to address the issue of a lack of <strong>real world</strong> benchmark results that can be referenced by users to determine if their performance is consistent with other community members.</p>
        <p>If you would like to contribute and add your data to help the community, see the link at the button below.</p>
        <p><a class="btn btn-primary btn-lg" href="/how-to" role="button">Contribution Guidelines »</a></p>
    </div>
{% endblock jumbotron %} {% block content %}
<div class="row">
    <div class="col-md-6 order-2 order-md-1">
        <form method="post" action="{{ url_for('fps_submitted') }}" enctype="multipart/form-data">

            {% for field in form %}
            <div class="row">
                <div class="col-md-4">{{ field.label }}{% if field.flags.required %}*{% endif %}</div>
                <div class="col-md-8">{{ field }}</div>
            </div>

            {% endfor %}
            <div class="row">
                <input class="col-md-4 col-offset-md-8" type="submit" value="Add Statstics">
            </div>
        </form>
    </div>
    <div class="col-md-6 order-1 order-md-2">
        The system requires posters to have a submission code in lieu of a login for the time being. Please register your system specs on the <a href="/how-to">how-to page</a> to begin contributing. Current code is 1234submit
    </div>
</div>
{% endblock content %}
