{% extends "main_template.html" %}
<!-- FPS submitted by user page -->
{% block title %}Thank you for your submission{% endblock %}
<!-- Jumbotron -->
{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">
            Thanks for the submission! {% if error_string %} But... {% endif %}
        </h1>
        {% if error_string %}
        <div class="alert alert-danger">{{ error_string }}</div>{% endif %}
    </div>
</div>
{% endblock jumbotron %} {% block content %} {% if not error_string %}
<h2>Submitted data</h2>
<div>
    <span>CPU: </span>
    <span>{{ cpu }}</span>
</div>
<div>
    <span>GPU: </span>
    <span>{{ gpu }}</span>
</div>
<div>
    <span>RAM: </span>
    <span>{{ ram }}</span>
</div>
<div>
    <span>Average FPS: </span>
    <span>{{ avg }} ± {{ std_dev }}</span>
</div>
<div>
    <span>Min/Max FPS: </span>
    <span>{{ min_val }} / {{ max_val }} </span>
</div>
<hr>
<div>Raw Upload Data:</div>
<table>
    <tr>
        {% for entry in csv_data %} {% if loop.index0 % 20 == 0 %}
    </tr>
    <tr>
        {% endif %}
        <td>{{ entry }}</td>
        {% endfor %}
    </tr>
</table>
{% endif %} {% endblock content %}
